* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #e8e5e5;
    /* height: 100vh; */
}

.main-area {
    height: 90vh;
}

h1 {
    margin-top: 20px;
}

.header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around
}
/* .gameStatus {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
} */

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 15px 8px;
    cursor: pointer;
}

.btn {
    box-shadow: none;
    outline: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#start-btn button{
    margin-top: 40px;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #e8e5e5;
    /* background-color: #FDE12D; */
    /* border: 2px solid #f99b45; */
    border: none;
    cursor: pointer;
    background: transparent;
}

#start-btn :last-child {
    margin-left: 40px;
}

/***************************************** gameOver area ***********************************************/
#game-over{
    background-color: black;
    color: #fff;
    height: 250px;
    position: relative;
    bottom: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#game-over p{
    font-size: 6rem;
    font-family: cursive;
}

#game-over span {
    margin: 5px;
    font-size: 1rem;
    font-style: italic;
}

#game-over button {
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.3rem;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

/******************************** game over end  ***************************************/

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d9547c;
}

.purple {
    background-color: #7998f8;
}

.green {
    background-color: #5eacc3;
}

.flash {
    background-color: #fff;
}



/******************************************************************************************/
/* Landing container */



.landing-area {
    height: 100%;
    width: 100%;
    background-color: black;
    height: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    /* visibility: hidden; */
}

.heading {
    font-size: 12rem;
    font-style: oblique;
    font-weight: 900;
}


.content :first-child {
    font-size: 1.8rem;
}

.content :nth-child(2) {
    margin-top: 25px;
    font-size: 1.3rem;
    line-height: 25px;
    margin-bottom: 35px;
}

.content :last-child{
    display: inline;
    font-size: 3rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}



/*****************************************Responsive**************************************************/

@media (width < 440px) {

    .heading {
        margin-top: 100px;
        font-size: 7rem;
    }

    .content :first-child {
        margin-top: 40px;
        font-size: 1.4rem;
    }

    .content :nth-child(2) {
        font-size: 1.2rem;
        margin-top: 30px;
        margin-bottom: 70px;
    }

    #play-btn {
        margin-top: 100px;
    }

    #game-over p{
        font-size: 4rem;
        font-family: cursive;
    }
}

@media (width < 400px){
    #game-over p{
        font-size: 4rem;
        font-family: cursive;
    }
    .heading {
        font-size: 6rem;
    }
}

@media (width < 281px){
    .btn {
        height: 120px;
        width: 120px;
    }

    .heading {
        font-size: 4rem;
    }

    #game-over button {
        padding: 2px 12px;
        font-size: 1rem;
    }

    #game-over p{
        font-size: 2.5rem;
        font-family: cursive;
    }
}